In [21]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Read the CSV and Preform Basic Data Cleaning

In [22]:
gender_df = pd.read_csv("data/gender_submission.csv")
test_df = pd.read_csv("data/test.csv")
train_df = pd.read_csv("data/train.csv")

In [23]:
#checking for null values
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [24]:
#Description of dataset
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [25]:
#detailed look at what is actually missing in data

total = train_df.isnull().sum().sort_values(ascending=False)
percent_1 = train_df.isnull().sum()/train_df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

             Total     %
Cabin          687  77.1
Age            177  19.9
Embarked         2   0.2
PassengerId      0   0.0
Survived         0   0.0

In [26]:
#Merged test dataset with gender to have is people survived or not.
test_merged_df = test_df.merge(gender_df, on='PassengerId')

Dropped Columns:

In [27]:
#Non needed columns
train_df = train_df.drop(['Ticket'], axis=1)
test_merged_df = test_merged_df.drop(['Ticket'], axis=1)

In [28]:
train_df = train_df.drop(['Cabin'], axis=1)
test_merged_df = test_merged_df.drop(['Cabin'], axis=1)

In [29]:
train_df = train_df.drop(['Name'], axis=1)
test_merged_df = test_merged_df.drop(['Name'], axis=1)

In [30]:
#dropping na from names
train_df = train_df[train_df['Age'].notna()]
test_merged_df = test_merged_df[test_df['Age'].notna()]

In [31]:
train_df = train_df.drop(['Embarked'], axis=1)
test_merged_df = test_merged_df.drop(['Embarked'], axis=1)

Checking dataframes after dropping columns and merging

In [32]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Sex          714 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        714 non-null    int64
 6   Parch        714 non-null    int64
 7   Fare         714 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 50.2+ KB

In [33]:
test_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332 entries, 0 to 415
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  332 non-null    int64
 1   Pclass       332 non-null    int64
 2   Sex          332 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        332 non-null    int64
 5   Parch        332 non-null    int64
 6   Fare         331 non-null    float64
 7   Survived     332 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 23.3+ KB

In [34]:
train_df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [35]:
test_merged_df.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare  Survived
0          892       3    male  34.5      0      0   7.8292         0
1          893       3  female  47.0      1      0   7.0000         1
2          894       2    male  62.0      0      0   9.6875         0
3          895       3    male  27.0      0      0   8.6625         0
4          896       3  female  22.0      1      1  12.2875         1

In [36]:
#changed the fare na to 0 and changed type to interget from a float64
data = [train_df, test_merged_df]

for dataset in data:
    dataset['Fare'] = dataset['Fare'].fillna(0)
    dataset['Fare'] = dataset['Fare'].astype(int)

In [37]:
data

[     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  Fare
 0              1         0       3    male  22.0      1      0     7
 1              2         1       1  female  38.0      1      0    71
 2              3         1       3  female  26.0      0      0     7
 3              4         1       1  female  35.0      1      0    53
 4              5         0       3    male  35.0      0      0     8
 ..           ...       ...     ...     ...   ...    ...    ...   ...
 885          886         0       3  female  39.0      0      5    29
 886          887         0       2    male  27.0      0      0    13
 887          888         1       1  female  19.0      0      0    30
 889          890         1       1    male  26.0      0      0    30
 890          891         0       3    male  32.0      0      0     7

 [714 rows x 8 columns],
      PassengerId  Pclass     Sex   Age  SibSp  Parch  Fare  Survived
 0            892       3    male  34.5      0      0     7         0
 1            893       3  female  47.0      1      0     7         1
 2            894       2    male  62.0      0      0     9         0
 3            895       3    male  27.0      0      0     8         0
 4            896       3  female  22.0      1      1    12         1
 ..           ...     ...     ...   ...    ...    ...   ...       ...
 409         1301       3  female   3.0      1      1    13         1
 411         1303       1  female  37.0      1      0    90         1
 412         1304       3  female  28.0      0      0     7         1
 414         1306       1  female  39.0      0      0   108         1
 415         1307       3    male  38.5      0      0     7         0

 [332 rows x 8 columns]]

In [38]:
#Made genders bianary
genders = {"male": 0, "female": 1}
data = [train_df, test_merged_df]

for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

In [39]:
X_train = train_df.drop(["PassengerId", "Survived"], axis=1)
Y_train = train_df["Survived"]
X_test  = test_merged_df.drop(["PassengerId", "Survived"], axis=1).copy()
Y_test = test_merged_df["Survived"]
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((714, 6), (714,), (332, 6), (332,))

In [40]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler() 
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

# Artificial Neural network

In [50]:
#importing libraries and packages for keras
import tensorflow.keras
from tensorflow.keras.models import Sequential          #initialize neural network
from tensorflow.keras.layers import Dense               #building layers of ANN

In [51]:
#initiliazing ANN
model= Sequential()

In [52]:
#adding input layer and first hidden layer
model.add(Dense(4, kernel_initializer= 'uniform', activation = 'relu', input_dim = 6))

In [53]:
#adding the second hidden lay
model.add(Dense(4, kernel_initializer= 'uniform', activation = 'relu'))

In [54]:
#adding the output layer
model.add(Dense(1, kernel_initializer= 'uniform', activation = 'sigmoid'))

In [55]:
#Compiling ANN (Stochastic gradient)
model.compile(optimizer = 'adam',loss='binary_crossentropy', metrics = ['accuracy'] )

In [56]:
#fitting the ANN to the training set
model.fit(X_train, Y_train, batch_size = 10, epochs = 100)

Epoch 1/100
72/72 [==============================] - 1s 1ms/step - loss: 0.6921 - accuracy: 0.5863
Epoch 2/100
72/72 [==============================] - 0s 1ms/step - loss: 0.6817 - accuracy: 0.5943
Epoch 3/100
72/72 [==============================] - 0s 1ms/step - loss: 0.6479 - accuracy: 0.5892
Epoch 4/100
72/72 [==============================] - 0s 1ms/step - loss: 0.6164 - accuracy: 0.5686
Epoch 5/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5671 - accuracy: 0.5971
Epoch 6/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5744 - accuracy: 0.5817
Epoch 7/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5548 - accuracy: 0.7713
Epoch 8/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5539 - accuracy: 0.7609
Epoch 9/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5724 - accuracy: 0.7446
Epoch 10/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5568 - accuracy: 0.7749
Epoch 11/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5449 - accuracy: 0.7643
Epoch 12/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5308 - accuracy: 0.7883
Epoch 13/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5200 - accuracy: 0.7919
Epoch 14/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5476 - accuracy: 0.7795
Epoch 15/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5512 - accuracy: 0.7655
Epoch 16/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4966 - accuracy: 0.8020
Epoch 17/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5160 - accuracy: 0.8007
Epoch 18/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5069 - accuracy: 0.7983
Epoch 19/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5009 - accuracy: 0.7849
Epoch 20/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5057 - accuracy: 0.7808
Epoch 21/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4808 - accuracy: 0.7978
Epoch 22/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4679 - accuracy: 0.8257
Epoch 23/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5106 - accuracy: 0.7854
Epoch 24/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5230 - accuracy: 0.7778
Epoch 25/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5162 - accuracy: 0.7701
Epoch 26/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5030 - accuracy: 0.7893
Epoch 27/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4978 - accuracy: 0.8014
Epoch 28/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5020 - accuracy: 0.7945
Epoch 29/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5003 - accuracy: 0.7895
Epoch 30/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4762 - accuracy: 0.8243
Epoch 31/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4851 - accuracy: 0.7932
Epoch 32/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4706 - accuracy: 0.8117
Epoch 33/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4806 - accuracy: 0.7998
Epoch 34/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4870 - accuracy: 0.8220
Epoch 35/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4947 - accuracy: 0.8045
Epoch 36/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4797 - accuracy: 0.8165
Epoch 37/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4614 - accuracy: 0.8164
Epoch 38/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4586 - accuracy: 0.8254
Epoch 39/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4725 - accuracy: 0.8017
Epoch 40/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4813 - accuracy: 0.8079
Epoch 41/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4535 - accuracy: 0.8281
Epoch 42/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4803 - accuracy: 0.8126
Epoch 43/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4562 - accuracy: 0.8257
Epoch 44/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4506 - accuracy: 0.8006
Epoch 45/100
72/72 [==============================] - 0s 2ms/step - loss: 0.5026 - accuracy: 0.7822
Epoch 46/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4598 - accuracy: 0.8265
Epoch 47/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4838 - accuracy: 0.7991
Epoch 48/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4562 - accuracy: 0.8125
Epoch 49/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4553 - accuracy: 0.8209
Epoch 50/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4887 - accuracy: 0.7962
Epoch 51/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4755 - accuracy: 0.7912
Epoch 52/100
72/72 [==============================] - 0s 1ms/step - loss: 0.5061 - accuracy: 0.7814
Epoch 53/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4987 - accuracy: 0.7827
Epoch 54/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4878 - accuracy: 0.7932
Epoch 55/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4498 - accuracy: 0.8254
Epoch 56/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4162 - accuracy: 0.8472
Epoch 57/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4347 - accuracy: 0.8420
Epoch 58/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4881 - accuracy: 0.8092
Epoch 59/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4784 - accuracy: 0.8025
Epoch 60/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4504 - accuracy: 0.8217
Epoch 61/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4649 - accuracy: 0.8173
Epoch 62/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4283 - accuracy: 0.8378
Epoch 63/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4484 - accuracy: 0.8291
Epoch 64/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4365 - accuracy: 0.8259
Epoch 65/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4592 - accuracy: 0.8138
Epoch 66/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4552 - accuracy: 0.8215
Epoch 67/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4555 - accuracy: 0.8297
Epoch 68/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4695 - accuracy: 0.8028
Epoch 69/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4384 - accuracy: 0.8273
Epoch 70/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4427 - accuracy: 0.8248
Epoch 71/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4571 - accuracy: 0.8116
Epoch 72/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4258 - accuracy: 0.8346
Epoch 73/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4344 - accuracy: 0.8146
Epoch 74/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4303 - accuracy: 0.8300
Epoch 75/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4519 - accuracy: 0.8153
Epoch 76/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4583 - accuracy: 0.8142
Epoch 77/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4430 - accuracy: 0.8136
Epoch 78/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4617 - accuracy: 0.8002
Epoch 79/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4535 - accuracy: 0.8135
Epoch 80/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4226 - accuracy: 0.8320
Epoch 81/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4210 - accuracy: 0.8360
Epoch 82/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4331 - accuracy: 0.8241
Epoch 83/100

72/72 [==============================] - 0s 1ms/step - loss: 0.4606 - accuracy: 0.8188
Epoch 84/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4713 - accuracy: 0.8038
Epoch 85/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4229 - accuracy: 0.8278
Epoch 86/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4631 - accuracy: 0.8060
Epoch 87/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4254 - accuracy: 0.8314
Epoch 88/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4079 - accuracy: 0.8344
Epoch 89/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4528 - accuracy: 0.8231
Epoch 90/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4138 - accuracy: 0.8421
Epoch 91/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4175 - accuracy: 0.8397
Epoch 92/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4310 - accuracy: 0.8290
Epoch 93/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4333 - accuracy: 0.8275
Epoch 94/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4745 - accuracy: 0.7973
Epoch 95/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4591 - accuracy: 0.8041
Epoch 96/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4364 - accuracy: 0.8389
Epoch 97/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4400 - accuracy: 0.8198
Epoch 98/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4298 - accuracy: 0.8243
Epoch 99/100
72/72 [==============================] - 0s 1ms/step - loss: 0.4383 - accuracy: 0.8337
Epoch 100/100
72/72 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.8353

In [59]:
#predicting the test dataset results. We are cosidering that y_pred > 0.5 is survival 
y_prediction = model.predict(X_test)
y_final = (y_prediction > 0.5).astype(int).reshape(X_test.shape[0])
y_prediction

array([[0.07970029],
       [0.32039252],
       [0.05361819],
       [0.11565906],
       [0.5245962 ],
       [0.20936829],
       [0.5653595 ],
       [0.28933746],
       [0.66135365],
       [0.08188626],
       [0.31209698],
       [0.850971  ],
       [0.0405407 ],
       [0.850971  ],
       [0.8277471 ],
       [0.19874552],
       [0.15101248],
       [0.48134568],
       [0.4390435 ],
       [0.21211848],
       [0.29303575],
       [0.62136084],
       [0.81827974],
       [0.02566791],
       [0.850971  ],
       [0.14104307],
       [0.35978413],
       [0.07791805],
       [0.18644774],
       [0.42551076],
       [0.46062493],
       [0.1689066 ],
       [0.6411915 ],
       [0.12839827],
       [0.08655873],
       [0.05770531],
       [0.8273572 ],
       [0.850971  ],
       [0.12565449],
       [0.32246017],
       [0.80676997],
       [0.523301  ],
       [0.5154539 ],
       [0.28281873],
       [0.71870875],
       [0.8435075 ],
       [0.08214217],
       [0.07776681],
       [0.12565449],
       [0.850971  ],
       [0.18043184],
       [0.22761312],
       [0.17268178],
       [0.63038504],
       [0.66880727],
       [0.66135365],
       [0.30910206],
       [0.4408649 ],
       [0.75629514],
       [0.6144691 ],
       [0.15101248],
       [0.5736621 ],
       [0.45635235],
       [0.850971  ],
       [0.4859684 ],
       [0.7669201 ],
       [0.24690095],
       [0.6144691 ],
       [0.2645224 ],
       [0.19431648],
       [0.27882916],
       [0.590139  ],
       [0.6642154 ],
       [0.57608163],
       [0.54277074],
       [0.850971  ],
       [0.47829044],
       [0.12565449],
       [0.69550395],
       [0.10403287],
       [0.64602244],
       [0.08674178],
       [0.850971  ],
       [0.22361088],
       [0.11991301],
       [0.5549039 ],
       [0.12849829],
       [0.15101248],
       [0.37704858],
       [0.15750322],
       [0.850971  ],
       [0.657551  ],
       [0.80696297],
       [0.12670073],
       [0.6740767 ],
       [0.4233989 ],
       [0.80021054],
       [0.850971  ],
       [0.850971  ],
       [0.10910824],
       [0.69312376],
       [0.14430359],
       [0.1474199 ],
       [0.13305035],
       [0.09105933],
       [0.24254254],
       [0.05217344],
       [0.13162977],
       [0.11712816],
       [0.28864944],
       [0.6254644 ],
       [0.08494636],
       [0.18222323],
       [0.850971  ],
       [0.28703105],
       [0.2999062 ],
       [0.34892815],
       [0.03004125],
       [0.14583802],
       [0.24067599],
       [0.850971  ],
       [0.01947027],
       [0.51493526],
       [0.07529947],
       [0.13162977],
       [0.850971  ],
       [0.6224601 ],
       [0.34892815],
       [0.5863273 ],
       [0.2542811 ],
       [0.8375309 ],
       [0.15424761],
       [0.5247358 ],
       [0.3030377 ],
       [0.16460544],
       [0.6333634 ],
       [0.11439961],
       [0.09891   ],
       [0.08006081],
       [0.850971  ],
       [0.850971  ],
       [0.21275866],
       [0.77788234],
       [0.7981917 ],
       [0.24690095],
       [0.46207336],
       [0.850971  ],
       [0.850971  ],
       [0.16641688],
       [0.850971  ],
       [0.08304438],
       [0.16133165],
       [0.16548818],
       [0.20945802],
       [0.05839655],
       [0.69087183],
       [0.08576673],
       [0.7625054 ],
       [0.66135365],
       [0.31450844],
       [0.48469603],
       [0.35670567],
       [0.850971  ],
       [0.29198685],
       [0.52338624],
       [0.30312955],
       [0.850971  ],
       [0.12565449],
       [0.10644686],
       [0.5352509 ],
       [0.5836487 ],
       [0.10134324],
       [0.35467428],
       [0.29995942],
       [0.850971  ],
       [0.76625603],
       [0.1526055 ],
       [0.84232616],
       [0.15101248],
       [0.8247682 ],
       [0.13784435],
       [0.0649285 ],
       [0.19230592],
       [0.56269276],
       [0.850971  ],
       [0.10070917],
       [0.37609518],
       [0.15797567],
       [0.16881064],
       [0.15797567],
       [0.8044922 ],
       [0.850971  ],
       [0.8172668 ],
       [0.76933765],
       [0.40109563],
       [0.33966714],
       [0.8488069 ],
       [0.15257871],
       [0.80021054],
       [0.850971  ],
       [0.15797567],
       [0.51912516],
       [0.13448396],
       [0.08988392],
       [0.11031666],
       [0.84946907],
       [0.15101248],
       [0.05316871],
       [0.15101248],
       [0.8237395 ],
       [0.6641846 ],
       [0.24460772],
       [0.18226856],
       [0.3293349 ],
       [0.850971  ],
       [0.8355008 ],
       [0.2600523 ],
       [0.12588608],
       [0.1874676 ],
       [0.32611465],
       [0.6254644 ],
       [0.3170336 ],
       [0.6208629 ],
       [0.6777778 ],
       [0.07402825],
       [0.52205056],
       [0.5622105 ],
       [0.30712432],
       [0.0757423 ],
       [0.11991301],
       [0.850971  ],
       [0.4522195 ],
       [0.10403287],
       [0.09004053],
       [0.1894469 ],
       [0.13305035],
       [0.7766276 ],
       [0.570337  ],
       [0.40832952],
       [0.29379874],
       [0.35557836],
       [0.17445645],
       [0.14430359],
       [0.5064701 ],
       [0.83584857],
       [0.66889644],
       [0.2443842 ],
       [0.36219084],
       [0.11439961],
       [0.20316482],
       [0.11991301],
       [0.12565449],
       [0.28864944],
       [0.42773238],
       [0.850971  ],
       [0.13784435],
       [0.7923417 ],
       [0.33072788],
       [0.20564568],
       [0.34629154],
       [0.7664259 ],
       [0.3785823 ],
       [0.55362767],
       [0.11439961],
       [0.44657278],
       [0.22761312],
       [0.10202578],
       [0.34843126],
       [0.37459502],
       [0.09004053],
       [0.820796  ],
       [0.6763535 ],
       [0.28864944],
       [0.49800396],
       [0.31102675],
       [0.83864963],
       [0.850971  ],
       [0.29198685],
       [0.52500033],
       [0.19407749],
       [0.6484121 ],
       [0.26823592],
       [0.7857367 ],
       [0.4815544 ],
       [0.01279289],
       [0.819947  ],
       [0.83864963],
       [0.11565906],
       [0.850971  ],
       [0.71982694],
       [0.850971  ],
       [0.2569474 ],
       [0.24778879],
       [0.850971  ],
       [0.21892384],
       [0.13451543],
       [0.8395597 ],
       [0.850971  ],
       [0.41782448],
       [0.34071165],
       [0.24583584],
       [0.1062046 ],
       [0.11991301],
       [0.57725435],
       [0.8140625 ],
       [0.13162977],
       [0.07211152],
       [0.15101248],
       [0.13599107],
       [0.511157  ],
       [0.850971  ],
       [0.3479854 ],
       [0.11317927],
       [0.04466584],
       [0.850971  ],
       [0.13162977],
       [0.850971  ],
       [0.14430359],
       [0.09450525],
       [0.850971  ],
       [0.13089547],
       [0.850971  ],
       [0.53557646],
       [0.25571996],
       [0.35845733],
       [0.2262792 ],
       [0.3809783 ],
       [0.6542095 ],
       [0.850971  ],
       [0.58192337],
       [0.850971  ],
       [0.0653947 ]], dtype=float32)

In [64]:
output = pd.DataFrame({'PassengerId': test_merged_df['PassengerId'], 'Survived': y_final})
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
409         1301         1
411         1303         1
412         1304         1
414         1306         1
415         1307         0

[332 rows x 2 columns]